@import 'variables.scss';


.mainForm {
    display: flex;
    background: black;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    input {
        width: 50%
    }
    section {
        width: 50%;
    }
    h1 {
        color: black;
        width: 50%;
    }


    
}

.formGrouping {
    width: 50%;
}
.newQuoteInput {
    border-bottom: 1px solid gray;
    background: transparent;
    color: white;
}

.newQuoteInput:hover {
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
}


.newQuoteInput:focus {
    outline: none;
    border-bottom: 1px solid $main;
    color: white;
}

.bx--form-item {
    margin-top: 10px;
}

.submit {

    background-color: transparent;
    border-bottom: none;

    #submit-new {
        text-decoration: none;
        font-size: 1.25rem;
        padding: 4px;
        margin: 5px;
    
    }    
}

.submit:hover {
    border-bottom: none;
}
