@import 'variables.scss';


h1 {
    color: white;
    background: red;
}

button {
    background: white;
}

.quoteList {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    align-items: center;
    
}

