
@import 'variables.scss';

@keyframes show {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}
.singleQuote {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    height: 300px;

    // transition: background-color 0.5s ease-in-out;
    // background-color: green;
    img {
        width: 100%;
        border: 1px solid $main;
        height: 85%;
        object-fit: contain;
    // Levi Appenfelder 05/12/2021 - transition set to slide image in and out of view using height.
        transition: height 0.5s;
    }
    section {
        border: 1px solid $main;
        width: 100%;
        padding: 10px;
        height: 15%;
    // Levi Appenfelder 05/12/2021 - transition set to slide section in and out of view using height.
        transition: height 0.5s;
        display: flex;
        flex-direction: column;
        align-items: space-between;
    // Levi Appenfelder 05/17/2021 - overflow: hidden, it will keep the container from stretching based on content
        overflow: hidden;

        h2 {
            color: $main;
            font-size: 1.25rem;
        }
        
        h4 {
            color: white;
            font-size: 1rem;
            opacity: 0;
            display: none;
    // Levi Appenfelder 05/17/2021 - overflow: hidden, it will keep the container from stretching based on content
            overflow: hidden;

        }

        .quoteButtons {
            opacity: 0;
            // Levi Appenfelder - transition set to 
            font-size: 1rem;
            display: none;
            width: 99%;
            border: none;
            .quoteLink {
                text-decoration: none;
                font-size: 1rem;
                padding: 0px;
                margin: 0;
                width: 33%;
                border-bottom: none;
                #open-button {
                    font-size: 1rem;
                    margin: 0px;
                    padding: 0;
                    padding-left: 10px;
                    width: 100%
                }
            }
            .otherButtons {
                text-decoration: none;
                font-size: 1rem;
                width: 33%;
                margin: 0px;
                padding: 0px;
                padding-left: 10px;

            }

            #button-delete {
                color: red;
                border: 1px solid red;
            }
            
            #button-delete:hover {
                background-color: red;
                color: white;
            }
            // #button-i {
            //     width: 100%;
            //     display: flex;
            //     font-size: 1rem;
            // }
        }
        
        .quoteButtons:hover {
            opacity: 0;
            font-size: 1rem;
            border: none;
        }
    }
}

.singleQuote:hover > img {
    // animation: hide-img 0.5s ease-in-out 0s 1 normal forwards;
    height: 0%;

}

.singleQuote:hover > section {
    // animation: show-quote 0.5s ease-in-out 0s 1 normal forwards;
    height: 100%;
}

.singleQuote:hover > section > h4 {
    opacity: 1;
    display: block;
    animation: show 0.5s both 0.5s;
}

// #button-i {
//     opacity: 0;
//     // Levi Appenfelder - transition set to 
//     font-size: 1rem;
//     display: none;
//     width: 100%;
// }

// .singleQuote:hover > section > #button-i {
//     opacity: 1;
//     display: flex;
//     // Levi Appenfelder 05/12/2021 - animation set to show/hide button on hover.
//     // Levi Appenfelder 05/12/2021 - animation set to 'both' to account for a change of display:none to display:flex and opacity.
//     animation: show 0.5s both 0.5s;
//     margin-top: auto;
//     margin-left: auto;
//     margin-right: auto;
// }


.singleQuote:hover > section > .quoteButtons {
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    // Levi Appenfelder 05/12/2021 - animation set to show/hide button on hover.
    // Levi Appenfelder 05/12/2021 - animation set to 'both' to account for a change of display:none to display:flex and opacity.
    animation: show 0.5s both 0.5s;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}
