
@import 'variables.scss';

* {
    margin: 0;
    padding: 0;
}

.singleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    section {
        * {
            font-size: 1.25rem;
        }
        #button-delete {
            color: red;
            border: 1px solid red;
        }

        #button-delete:hover {
            background-color: red;
            color: white;
        }
        #button-delete:focus {
            background-color: red;
            color: white;
        }
    }
    img {
    width: auto;
    height: 45vh;
    margin: 10px;
    }

    h2 {
        color: $main
    }

    p {
        color: white;
        width: 40%;
        font-size: 1.25rem;
        text-align: center;
    }
}

.bx--modal-container {
    background-color: black;
}

.bx--modal-close {

    svg {
        fill: $main;
    }

}

.bx--modal-close:hover {
    background: $main;
}

.bx--modal-close:hover > svg {
    fill: white;
}

.bx--modal-footer .bx--btn {
    font-size: 1.25rem;
    padding-left: 15px;
    padding-top: 0;
    padding-bottom: 0px;
}

.bx--btn--secondary {
    background-color: $main;
}

.bx--btn--secondary:hover {
    background-color: blue;
}
