
@import 'variables.scss';

* {
    margin: 0;
    padding: 0;
}

.singleContainer {
    section {
        * {
            font-size: 1.25rem;
        }
        #button-delete {
            color: red;
            border: 1px solid red;
        }

        #button-delete:hover {
            background-color: red;
            color: white;
        }

    }
    img {
    width: auto;
    height: 45vh;
    margin: 10px;
    }

    h2 {
        color: $main
    }

    p {
        color: white;
        width: 30%;
        font-size: 1.25rem;
    }
}

