* {
  margin: 0;
}

.App {
  text-align: center;
  background: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

html {
  background: black;
  margin: 0;

}